*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 14px;
    background: #f2f2f2;
}

.container
{
    background: white;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

.container h2
{
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}
.input-name
{
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.lock
{
    padding: 8px 11px;
}

.name
{
    width: 45%;
    padding: 8px 0 8px 40px;
}

.input-name span
{
    margin-left: 35px;
}

.text-name
{
    width: 100%;
    padding: 8px 0 8px 40px;
}

.input-name i
{
    position: absolute;
    font-size: 18px;
    color: royalblue;
    border-right: 1px solid #cccccc;
}

.email
{
    padding: 9px;

}

.text-name, .name
{
    border: 1px solid #cccccc;
    outline: none; 
}

.text-name:focus, .name:focus
{
    border: 1px solid blue;
}

.radio
{
    margin-right: 4px;
    cursor: pointer;
}

.country
{
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
    border: solid #cccccc;
}
.country:hover, country:focus
{
    color: blue;
    background: #fafafa;
    border-color: blue;
}

.arrow
{
    position: absolute;
    top: calc(50% - 4px);
    right: 7px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: blue transparent transparent transparent;
}

.check
{
    margin: 15px;
    position: relative;
    font-size: 14px;
}

.check-button
{
    cursor: pointer;
}

.button
{
    background-color:blue ;
    color: white;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.button:hover
{
    background: rgb(42, 51, 180);
}

@media (max-width: 480px)
{
    .container
    {
        width: 100%;
    }
    .input-name
    {
        margin-bottom: -10px;
    }
    .name
    {
        width: 100%;
        padding: 8px 0 8px 40px;
        margin-bottom: 10px;
    }
    .input-name span
    {
        padding: 0;
        margin: 0;
    }
}